  .hero {
    position: relative;

    background-size: cover;
    background-position: center;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 30px;

  }
  
  .hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    top: 10px;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
  }
  
  hr {
    width: 60px;
    border: 2px solid white;
    margin: 1rem 0;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #e0c6ff;
  }
.hero .botao-criar {
    background-color: #7096ca;
    color: #fff;
    transition: 1s;
    position: relative;
    top: 30px;
    right: 5px;
    border-radius: 20px;
    height: 50px;
    width: 300px;
  }
  
.hero .botao-criar:hover {
    background: none; /* preto no hover */
    border:3px solid #7096ca;
    color: #7096ca;
    transition: 1s;
  }
