@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    align-items: center;
}

.social-icons a{
    margin: 0 5px;
}

.social-icons i{
    display: inline-flex;
    height: 40px;
    width: 40px;
    background: #fff;
    color: rgb(12, 12, 36);
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.social-icons i:hover{
    background: rgb(104, 63, 197);
    color: #fff;
    transform: scale(1.02);
    border-radius: 50%;
}

body{
    overflow-x: hidden;
}



.contact-section{
    position: relative;
    right: 500px;
    width: 700px;
    top: -100px;
}


.img2{
    position: relative;
    right: -1000px;
    top: -900px;

    }

    .img2 img{
    height: 500px;
    position: relative;
    right: -80px;
    }


h1{
position: relative;
align-items: center;
display: flex;
position: relative;
right: -1150px;
top: -1000px;
font-size: 2pc;
}

h5{
justify-content: center;
align-items: center;
display: flex;
position: relative;
font-size: 24px;
right: -1090px;
top: -800px;
width: 500px;
}

/* botão de voltar */

 .voltar
{
    background: #5f43ff;
    height: 500px;
    width: 200px;
    position: relative;
    top: -750px;
    border-radius: 10px;
    right: -1250px;
    border: none;
}

.voltar a{
    background:none;
    color: #fff;
    font-size: 1.2pc;
    text-decoration: none;
}

.voltar:hover{
    transition: 1s;
    background: #a342fdce;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}
