
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            background: #2d2d2d;
            font-family: Arial, sans-serif;
        }

       /* navbar */
  .navbar {
    box-shadow: 0px 20px 20px rgba(36, 36, 36, 0.5);
    background: #9393f0;
  }
  


  .navbar-collapse .navbar-nav .nav-item a {
    position: relative;
    right: -50px;
    font-size: 1.2em;
    margin: 30px;
  }
  .navbar-collapse .navbar-nav .nav-item a:hover {
    transition: 0.5s;
    color: #d3d3e4;
  }
  .navbar-collapse .navbar-nav .nav-item a{
    color: #fff;
  }
  
  .dropdown-menu{
    width: 300px;

  }

  .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item{
    width: 100px;
    color: #44438f;
  }
  /* botão de login */
  
  .login {
    margin: 20px 15px;
    color: #000;
    border:2px #0ab8a1 solid;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background: #eeeeee;
  }
  
  .logout {
    margin: 20px 15px;
    color: #000;
    border:2px #0ab8a1 solid;
    position: relative;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background: #eeeeee;
  }
  .login:hover {
    transition: 1s;
    background: #d3d3e4;
    color: #000000;
  }
  .logout:hover {
    transition: 1s;
    background: #17171F;
    color: #fff;
  }
  
  /* mode do background */

  /* Tema escuro */
  body.dark-mode{
    background-color: #333;
    color: #f1f1f1;
  }
  
  .dark-mode .bx-sun {
    color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  .light-mode .bx-moon {
    color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  

  .theme-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .theme-toggle {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .theme-icon {
    font-size: 2rem;
  }



  
  .button {
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 2.5px 0 #39a2db59;
    cursor: pointer;
    right: 10px;
    background-color: #ffffff;
  }
        /* Banner com imagem */
        .banner {
            position: relative;
            background-image: url('../img/grupo.jpeg');
            background-size: cover;
            background-position: center;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .banner::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1;
        }

        .banner-content {
            position: relative;
            z-index: 2;
        }

        .banner-content h1 {
            font-size: 48px;
            margin-bottom: 10px;
        }

        .banner-content p {
            font-size: 20px;
            color: #f1f1f1;
        }

        /* Seções */
        .section {
            margin: 80px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-template-rows: repeat(3, 100px);
            gap: 10px;
        }

        .grid img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 4px;
        }

        .text {
            font-size: 32px;
            font-weight: bold;
            line-height: 1.3;
        }

        .text2 {
            display: flex;
            justify-content: center;
            font-size: 32px;
            font-weight: bold;
            line-height: 1.3;
        }

        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .image-row {
            display: flex;
            gap: 15px;
            background-color: none;
            padding: 20px;
            border-radius: 8px;

            
        }

        .image-row img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 4px;
            border: 5px solid;
            border-image: linear-gradient(to right, #292727, #303030);
            border-image-slice: 1;
        }

        .title {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .portfolio-section {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            padding: 60px;
            justify-content: center;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 150px);
            grid-template-rows: repeat(2, 150px);
            gap: 10px;
        }

        .gallery img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 4px;
        }

        .text-content {
            max-width: 300px;
            line-height: 1.6;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .client-info {
            margin-top: 30px;
            font-size: 14px;
        }

        .client-info span {
            display: block;
            margin-top: 5px;
        }

        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
            margin-right: 6px;
        }

        /* Infográfico */
        main.container-principal {
            position: relative;
            width: 90vw;
            max-width: 700px;
            aspect-ratio: 1 / 1;
            margin: 60px auto;

        }
        main{
            background: #f0f0f5;
            border-radius:50%;
            position: relative;
            border: 5px solid #dcdcdc; /* obrigatória */
        }

        .center-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150px;
            height: 150px;
            transform: translate(-50%, -50%);
            background: none;
            border: 3px #fff solid;
            border-radius: 50%;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .center-circle img {
            max-width: 200px;
            max-height: 300px;
            border-radius: 50%;
            object-fit: cover;
        }


        .step {
            position: absolute;
            width: 200px;
            height: 200px;
            transform: translate(-50%, -50%);
        }

        .circle {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            text-shadow: 1px 1px 2px #000;
            background-color: #888;
        }

        .circle img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .circle p {
            z-index: 2;
            margin: 0;
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            text-align: center;
            padding: 5px 0;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        .step1 .circle {
            background: #b35c33;
            position: relative;
            top: 70px;
        }

        .step2 .circle {
            background: #9b4fc3;
            position: relative;
            top: 70px;
        }

        .step3 .circle {
            background: #5e6bc3;
        }

        .step4 .circle {
            background: #3f88c5;
        }

        .step5 .circle {
            background: #57bb69;
        }

        .step6 .circle {
            background: #7cb342;
        }

        .step7 .circle {
            background: #e6a129;
        }

        .step1 {
            top: 80%;
            left: 32%;
        }

        .step2 {
            top: 80%;
            left: 70%;
        }

        .step3 {
            top: 60%;
            left: 95%;
        }

        .step4 {
            top: 25%;
            left: 85%;
        }

        .step5 {
            top: 10%;
            left: 50%;
        }

        .step6 {
            top: 25%;
            left: 15%;
        }

        .step7 {
            top: 60%;
            left: 5%;
        }

        @media (max-width: 500px) {
            .step {
                width: 120px;
                height: 120px;
            }

            .center-circle {
                width: 120px;
                height: 120px;
            }
        }

        .dividido {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 40px;
        }

        .galeria,
        .descricao {
            flex: 1;
        }

        .linha-divisoria {
            width: 100%;
            background-color: #000;
            /* cor clara semi-transparente */
            height: 2px;
            position: relative;
        }

        .especialidades {
            background: #f5f5fa;
        }

        .container2 {
            max-width: 1100px;
            margin: 0 auto;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .main-image {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            border: 5px solid #2b2b2b;
        }

        .text-content2 {
            max-width: 300px;
            line-height: 1.6;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            right: 200px;
            text-align: justify;
        }


        .right-image {
            position: absolute;
            right: 510px;
            bottom: -2250px;
            width: 250px;
            height: 200px;
            border: 5px solid #2b2b2b;
        }

        @media screen and (max-width: 768px) {
            .right-image {
                position: static;
                margin-top: 20px;
            }

        }

        /* documentador */
        .timeline-container {
            display: flex;
            flex-direction: column;
            gap: 40px;
            border-left: 3px solid #ff5f5f;
            padding-left: 20px;
            margin-left: 300px;

        }

        .timeline-card {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .timeline-card img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 10px;
        }

        .card-content h3 {
            margin: 0;
            font-size: 1.2em;
        }

        .card-content p {
            margin: 5px 0 0;
            color: #ccc;
        }

        .highlight-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .main-block {
            flex: 2;
            background: #1e1e1e;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .main-block img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .main-text {
            padding: 20px;
        }

        .side-grid-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .profile-photo {
            margin-bottom: 20px;
            text-align: center;
        }

        .profile-photo img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #ff5f5f;
        }

        .profile-photo h4 {
            margin: 10px 0 0;
            font-size: 1em;
        }

        .profile-photo p {
            margin: 2px 0;
            color: #ccc;
            font-size: 0.9em;
        }

        .side-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            width: 100%;
        }

        .side-grid img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
        }

        .social-icon {
            color: #ff5f5f;
            font-size: 1.2em;
            margin-top: 5px;
        }

        /* Bloco da imagem no canto direito */
        .right-info2 {
            position: absolute;
            top: 150px;
            right: 600px;
            text-align: center;
            color: #fff;
            position: absolute;
            top: 3400px;
        }

        .right-info2 img {
            width: 200px;
            height: 200px;
            border-radius: 15px;
            object-fit: cover;
            border: 4px solid #ff5f5f;
        }

        .right-info2 h4 {
            margin: 10px 0 5px;
            font-size: 1.1em;
        }

        .right-info2 p {
            font-size: 0.95em;
            color: #ccc;
        }

        .container-principal {
            display: flex;
            gap: 40px;
            padding: 60px;

        }

        /* Perfil */
        .profile {
            flex: 1;
            text-align: center;
            background-color: none;
            padding: 30px;
            border-radius: 10px;
            /* box-shadow: 0 0 10px rgba(97, 218, 251, 0.2); */
            max-height: 500px;
            /* border: 5px solid; -> obrigatória
            border-image: linear-gradient(to right, #292727, #303030);
            border-image-slice: 1; */
        }

        .profile img {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            border: 3px solid #13131A;
            object-fit: cover;
            margin-bottom: 20px;
        }

        .profile h2 {
            margin: 0 0 5px;
            font-size: 1.4em;
            color: #2e4478;
        }

        .profile p {
            margin: 0;
            font-size: 0.95em;
            color: #2e4478;
        }

        .profile .skills {
            margin-top: 20px;
            font-size: 0.9em;
            color: #fff;
        }
        .profile .skills h4{
            color: #2e4478;
        }

        .skills span {
            display: inline-block;
            background: #7096ca;
            padding: 6px 12px;
            border-radius: 20px;
            margin: 5px;
            font-size: 0.85em;
        }

        /* Projetos */
        .projects {
            flex: 2;
            display: flex;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
            background: none;
        }

        .project-card {
            background-color: #f0f0f5;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.2s ease;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        .project-card:hover {
            transform: translateY(-5px);
        }

        .project-card img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

        .project-content {
            padding: 15px;
        }

        .project-content h4 {
            margin: 0 0 8px;
            color: #2e4478;
            font-size: 1.1em;
        }

        .project-content p {
            margin: 0;
            color: #1b1c1E;
            font-size: 0.9em;
        }

        /* rodapé */

    footer {
      background: #0e0d0d;
      color: #ffffff;
      position: relative;
      border: 5px solid; /* obrigatória */
      border-image: linear-gradient(to right, #242424, #1a1919);
      border-image-slice: 1;
    }
    footer a {
      color: #adb5bd;
      text-decoration: none;
    }
    footer a:hover {
      color: #ffffff;
    }